<h1 class="title animate__animated animate__fadeIn">{{ title }}</h1>

<ul class="animate__animated animate__flipInX" *ngIf="mode=='list'">
  <li *ngFor="let bg of bgs">
    {{ bg.name }}
    <button (click)="remove(bg)"><i class="far fa-trash-alt"></i>REMOVER</button>
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animate__animated animate__flipInX">
  <h1 class="text-center">Board Game</h1>
  <form [formGroup]="form">
    <input type="text" placeholder="Nome do bg" maxlength="60" formControlName="bgName">
    <small class="danger" *ngIf="form.controls.bgName.invalid && !form.controls.bgName.pristine">
      Nome do board game inválido<br>
    </small>
    <p class="text-center">
      <button [disabled]="form.invalid" (click)="add()" class="button"><i class="far fa-save"></i> Salvar</button>
    </p>
  </form>
  <br><br>
</div>

<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVO BOARD GAME
</button>
<button class="add-button animate__animated animate__fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>